html {
    background: rgb(223,127,217);
    background: linear-gradient(180deg, rgba(223,127,217,1) 10%, rgba(68,189,232,1) 90%);
    overflow: auto;
    user-select: none;
    scroll-behavior: smooth;
}

.sarpa-logo {
    padding: 1vh;
    position: fixed;
    height: 7vh;
    left: 0px;
    background-color: transparent;
}

.sarpa-logo:hover {
    background-color: #ddd;
}

.sarpa-logo-large {
    height: 20vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-duration: 0.4s;
}

.sa-logo {
    position: fixed;
    height: 7vh;
    right: 10px;
    top: 1vh;
}

.main-logo {
    width: 50%;
    transition-duration: 0.4s;
}

.title {
    position: fixed;
    width: fit-content;
    text-align: center;
    margin-top: 1.5vh;
    margin-left: 7vw;
    margin-right: auto;
    padding: 0px;
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 9vh;
    line-height: 75%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 91;
}

.links {
    position: fixed;
    width: fit-content;
    text-align: center;
    margin-top: 9vh;
    margin-left: 0vw;
    margin-right: auto;
    padding: 0px;
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    line-height: 75%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    opacity: 70%;
}

.link {
    display: block;
    background-color: #EEEEEE;
    padding: 1vh 3vw;
    opacity: 100%;
    text-decoration: none;
}

.link:hover {
    color: #FF4DFF;
    background-color: #ddd;
}

.hamburger-menu {
  overflow: hidden;
  background-color: #333;
  z-index: 100;
}

.title-bar {
    position: fixed;
    display: block;
    width: 100vw;
    height: 9vh;
    left: 0px;
    top: 0px;
    opacity: 90%;
    background: #FFFFFF;
    z-index: 90;
}

.header {
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 6vh;
    line-height: 75%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}

.main-link {
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 6vh;
    line-height: 75%;
    color: #FFFFFF;
    text-shadow: 5px 5px 10px rgb(245, 138, 255),
    -5px 5px 10px rgb(245, 138, 255),
    -5px -5px 10px rgb(245, 138, 255),
    5px -5px 10px rgb(245, 138, 255);
    text-decoration: none;
    transition-duration: 0.4s;
}

.main-link:hover {
    text-shadow: 5px 5px 10px rgb(102, 219, 255),
    -5px 5px 10px rgb(102, 219, 255),
    -5px -5px 10px rgb(102, 219, 255),
    5px -5px 10px rgb(102, 219, 255);
}

.general-info {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 9vh;
    text-align: center;
}