html {
    background: rgba(68,189,232,1);
    overflow: auto;
    scroll-behavior: smooth;
}

.sarpa-logo {
    padding: 1vh;
    position: fixed;
    height: 7vh;
    left: 0px;
    background-color: transparent;
}

.sarpa-logo:hover {
    background-color: #ddd;
}

.sarpa-logo-toggled {
    display: none;
    padding: 1vh;
    position: fixed;
    height: 7vh;
    left: 0px;
    background-color: #000000;
}

.sarpa-logo-toggled:hover {
    background-color: #1e1e1e;
}

.sarpa-logo-large {
    height: 20vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-duration: 0.4s;
}

.facebook-logo {
    width: 5vh;
}

.sa-logo {
    position: fixed;
    height: 7vh;
    right: 10px;
    top: 1vh;
}

.main-logo {
    width: 50%;
    transition-duration: 0.4s;
}

.title {
    position: fixed;
    width: fit-content;
    text-align: left;
    margin-top: 2.5vh;
    margin-left: 10vh;
    margin-right: auto;
    padding: 0px;
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 5.5vh;
    line-height: 75%;
    color: #000000;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    z-index: 91;
    white-space: nowrap;
    overflow: hidden;
}

.navigation-help {
    position: absolute;
    width: 15vw;
    top: 10vh;
    left: 1vw;
}

.navigation-help-mobile {
    display: none;
}

.links {
    position: fixed;
    width: fit-content;
    text-align: center;
    margin-top: 9vh;
    margin-left: 0vw;
    margin-right: auto;
    padding: 0px;
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    line-height: 75%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    opacity: 90%;
}

.link {
    display: block;
    color: black;
    background-color: #EEEEEE;
    padding: 1vh 3vw;
    opacity: 100%;
    text-decoration: none;
}

.link:hover {
    color: #FF4DFF;
    background-color: #ddd;
}

.hamburger-menu {
  overflow: hidden;
  background-color: #333;
  z-index: 100;
}

.title-bar {
    position: fixed;
    display: block;
    width: 100vw;
    height: 9vh;
    left: 0px;
    top: 0px;
    opacity: 90%;
    background: #FFFFFF;
    z-index: 90;
    user-select: none;
}

.header {
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 6vh;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}

.main-link {
    font-family: Quantico;
    font-style: normal;
    font-weight: bold;
    font-size: 6vh;
    line-height: 75%;
    color: #FFFFFF;
    text-shadow: 5px 5px 10px rgb(245, 138, 255),
    -5px 5px 10px rgb(245, 138, 255),
    -5px -5px 10px rgb(245, 138, 255),
    5px -5px 10px rgb(245, 138, 255);
    text-decoration: none;
    transition-duration: 0.4s;
}

.main-link:hover {
    text-shadow: 5px 5px 10px rgb(102, 219, 255),
    -5px 5px 10px rgb(102, 219, 255),
    -5px -5px 10px rgb(102, 219, 255),
    5px -5px 10px rgb(102, 219, 255);
}

.artists-vendors {
    display:inline-block;
    padding: 2vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.general-info {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}

body {
    background: linear-gradient(180deg, rgba(223,127,217,1) 10%, rgba(68,189,232,1) 90%);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 9vh;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .sa-logo {
        display: none;
    }
}

@media only screen and (max-device-width: 750px) {
    .main-logo {
        width: 90%;
        transition-duration: 0.4s;
    }

    .navigation-help-mobile {
        display: block;
        position: absolute;
        width: 30vw;
        top: 10vh;
        left: 1vw;
    }

    .navigation-help {
        display: none;
    }

    .artists-vendors {
        display: inline-block;
        padding: 2vh;
        margin: 0.5vh 20vw;
    }

    .sa-logo {
        display: none;
    }

    .links {
        position: fixed;
        width: 100%;
        text-align: center;
        margin-top: 9vh;
        margin-left: 0vw;
        margin-right: auto;
        padding: 0px;
        font-family: Quantico;
        font-style: normal;
        font-weight: bold;
        font-size: 5vh;
        line-height: 100%;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: none;
        opacity: 90%;
    }

    .link {
        display: block;
        background-color: #EEEEEE;
        padding: 1vh 3vw;
        opacity: 100%;
        text-decoration: none;
    }

    .link:hover {
        color: #FF4DFF;
        background-color: #ddd;
    }

    .hamburger-menu {
        overflow: hidden;
        background-color: #333;
        z-index: 100;
    }

    .sarpa-logo:hover {
        background-color: transparent;
    }

    .sarpa-logo-toggled:hover {
        background-color: #000000;
    }
}